.formItem {
    padding: 10px 0;
}

.authFormItem {
    padding: 10px 0;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
}

input:focus {
    outline: 0;
    border: 1px solid var(--rfsn-dark-blue);
}

input:focus + label {
    color: var(--rfsn-green);
}

input {
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

.formItem label {
    display: block;
}

.authFormItem label {
    margin-bottom: 10px;
}