/* sidebar */
aside {
    position: absolute;
    top: 0;
    min-width: 75px;
    max-width: 75px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 100vh;
    background: #fff;
}

aside.open {
    min-width: fit-content;
    max-width: 250px;
}

aside.open ~ section {
    margin-left: 200px; 
}

aside ul {
    padding: 40px 0;
    margin: 0;
    list-style: none;
}

aside ul li {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.open ul li {
    justify-content: initial;
    max-width: 250px;
}

aside ul li a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--rfsn-dark-blue);
}

aside.open ul li a {
    justify-content: initial;
}

aside ul li a span,
aside button span {
    display: none;
}

aside.open ul li a span {
    display: inline-block;
    margin-left: 20px;
}

aside.open button span {
    display: inline-block;
}

aside.open [data-tooltip-top]::before,
aside.open [data-tooltip-top]::after,
aside.open [data-tooltip-right]::before,
aside.open [data-tooltip-right]::after,
aside.open [data-tooltip-left]::before,
aside.open [data-tooltip-left]::after,
aside.open [data-tooltip-bottom]::before,
aside.open [data-tooltip-bottom]::after {
    display: none;
}

#toggle {
    background: var(--rfsn-dark-blue);
    display: block;
    padding: 18px 18px 19px 18px;
    cursor: pointer;
}

#toggle img {
    max-width: 35px;
}

#toggle img.full {
    height: 34px;
    max-width: unset;
}