:root {
  --rfsn-dark-blue: #071a2b;
  --rfsn-green: #54d362;
  --rfsn-blue: #1bb3f7;
  --muted-blue: #beebfa;
  --rfsn-purple: #9079ff;
  --muted-purple: #e9d7fa;
}

@font-face {
  font-family: "Modern Era";
  src: url("./fonts/ModernEra-Medium.otf");
}

* {
  font-family: 'Modern Era', sans-serif;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  color: var(--rfsn-dark-blue);
}
blockquote.info span.material-icons-outlined {
  color: var(--rfsn-blue);
  margin-right: 10px;
}

a {
  font-weight: bold;
  color: var(--rfsn-green);
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 70%;
}

main {
  padding: 20px 0;
}

/* sidebar */

aside {
  position: absolute;
  top: 0;
  min-width: 75px;
  max-width: 75px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100vh;
}

aside ul {
  padding: 40px 0;
  margin: 0;
  list-style: none;
}

aside ul li {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside ul li a {
  display: flex;
  align-items: center;
}

aside ul li a span {
  display: none;
}

#toggle {
  background: var(--rfsn-dark-blue);
  display: block;
  padding: 18px 18px 19px 18px;
}

#toggle img {
  max-width: 35px;
}